$color_1: #fff;
$color_2: #292f36;
$color_3: inherit;
$color_4: rgba(41, 47, 54, 0.7);
$color_5: #c9cbcd;
$color_6: #7f8287;
$background-color_1: #f2f2f2;
$background-color_2: #c8cacd;
$background-color_3: #EFEFF0;
// dark theme variables - invert the colors of the above
$color_1-dark: #292f36;
$color_2-dark: #fff;
$color_3-dark: inherit;
$color_4-dark: rgba(255, 255, 255, 0.7);
$color_5-dark: #7f8287;
$color_6-dark: #c9cbcd;
$background-color_1-dark: #292f36;
$background-color_2-dark: #7f8287;
$background-color_3-dark: #1f242b;