// @import 'player';
@import 'variables';
@import 'animations';

#jesaei-player-container {
  line-height: 0px;
  border-radius: 20px;
  background-color: $background-color_1;
  position: relative;
  overflow: hidden;

  .wpb_raw_html {
    max-height: 145px;
  }

  .wpb_wrapper {
    line-height: 0;
  }

  #jesaei-anchor-podcast-iframe-container {
    #jesaei-anchor-podcast-iframe {
      position: absolute;
      top: 0;
      min-height: 523px;
      @media (max-width: 768px) {
        min-height: 602px;
      }
    }
  }

  #podcast-list-container {
    line-height: 18px;
  }

  .podcast-description-show-more-btn {
    border-radius: 50%;
    background-color: $background-color_2;
    color: $color_1;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 8px !important;
    height: 18px;
    width: 18px;
    position: relative;
    top: -3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 4px;
  }

  .styles__episodeFeed___3mOKz {
    position: relative;
    overflow-y: auto;
    background-color: $background-color_3;
    max-height: 417px;
    padding: 11px;
    margin-bottom: 70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    color: $color_1;
    padding-bottom: 73px; 
    margin-bottom: 0;
    display: block;
  }

  .styles__episodeFeedItem___1U6E2 {
    // min-height: 106px;
    color: $color_2;
    background: #fff;
    border-radius: 4px;
    padding: 14px 12px;
    overflow: hidden;
    position: relative;

    a {
      color: $color_3;
      text-decoration: none;
      text-align: left;
      color: $color_3;
      text-decoration: none;
    }

    .styles__episodeImage___tMifW {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      overflow: hidden;
      float: left;
      margin: 0 6px 10px 0;
      position: relative;
      width: 47px;
      height: 47px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        vertical-align: middle;
      }
    }

    .styles__episodeHeading___29q7v {
      font-weight: 700;
      font-size: 15px;
      color: $color_2;
      width: 81%;
      line-height: 17px;
    }

    .styles__episodeDescription___C3oZg {
      color: $color_4;
      font-size: 13px;
      line-height: 14px;
      clear: left;
      padding-right: 2px;
      text-align: left;
      color: $color_4;
      font-size: 13px;
      line-height: 14px;
    }

    p {
      color: $color_4;
      font-size: 13px;
      line-height: 14px;
      color: $color_4;
      font-size: 13px;
      line-height: 14px;
    }

    .styles__episodeCreated___1zP5p {
      margin-top: 8px;
      font-size: 11px;
      line-height: 13px;
      color: $color_5;
      margin-top: 8px;
      font-size: 11px;
      line-height: 13px;
      color: $color_5;
      float: left;
    }

    .styles__episodeDuration___2I0Qb {
      margin-top: 8px;
      font-size: 11px;
      line-height: 13px;
      color: $color_5;
      float: right;
      margin-top: 8px;
      font-size: 11px;
      line-height: 13px;
      color: $color_5;
    }
  }

  .styles__circle___1g-9u {
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .styles__white___372tQ {
    background: #fff;

    // hover, focus, active background white
    &:hover,
    &:focus,
    &:active {
      background: #fff;
    }
  }

  .styles__playButton___1Ivi4 {
    cursor: pointer;
    text-align: center;
    padding: 0;

    svg {
      overflow: visible;
    }
  }

  .styles__playButton___1uaGA {
    z-index: 0;
  }

  .lds-ellipsis {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    right: 0;

    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: rgb(122, 122, 122);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }

  @media (max-width: 768px) {
    .styles__episodeFeedItem___1U6E2 {
      margin-bottom: 10px;
    }
  }

  .styles__isActiveEpisode___cXlB4 {
    display: none;
    position: absolute;
    top: 36px;
    left: 3px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: var(--essential-bright-accent, #5000b9);
  }

  .jesaeip-selected-episode .styles__isActiveEpisode___cXlB4 {
    display: block;
  }

  @media (min-width: 769px) {
    .styles__isActiveEpisode___cXlB4 {
      top: 50%;
      left: 8px;
      width: 7px;
      height: 7px;
      margin-top: -4px;
    }

    .styles__episodeFeed___3mOKz {
      padding: 35px;

      >div {
        margin-bottom: 23px;
      }
    }

    .styles__episodeFeedItem___1U6E2 {
      padding: 25px 22px;

      .styles__episodeImage___tMifW {
        width: 56px;
        height: 56px;
        margin-right: 22px;
        margin-bottom: 5px;
      }

      .styles__episodeHeading___29q7v {
        font-weight: 700;
        font-size: 14px;
        color: $color_2;
        margin-bottom: 4px;
      }

      .styles__episodeDescription___C3oZg {
        font-size: 13px;
        line-height: 18px;
        color: $color_6;
        clear: none;
        font-size: 13px;
        line-height: 18px;
        color: $color_6;
      }

      p {
        font-size: 13px;
        line-height: 18px;
        color: $color_6;
        font-size: 13px;
        line-height: 18px;
        color: $color_6;
      }

      .styles__episodeCreated___1zP5p {
        margin: 0;
        float: none;
        position: absolute;
        font-size: 13px;
        line-height: 15px;
        top: 25px;
        right: 22px;
        margin: 0;
        float: none;
        position: absolute;
        font-size: 13px;
        line-height: 15px;
      }

      .styles__episodeDuration___2I0Qb {
        margin: 0;
        float: none;
        position: absolute;
        font-size: 13px;
        line-height: 15px;
        bottom: 12px;
        right: 22px;
        margin: 0;
        float: none;
        position: absolute;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }

  .jesaeip-episode-pause-icon {
    display: none;
  }

  // dark theme variables - invert the colors of the above
  // $color_1-dark: #292f36;
  // $color_2-dark: #fff;
  // $color_3-dark: inherit;
  // $color_4-dark: rgba(255, 255, 255, 0.7);
  // $color_5-dark: #7f8287;
  // $color_6-dark: #c9cbcd;
  // $background-color_1-dark: #292f36;
  // $background-color_2-dark: #7f8287;
  // $background-color_3-dark: #1f242b;

}